<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/admin">
        <img  src="../../img/logo.png" style="width: 55px; height: 55px; margin-left: 10px;" alt=""> 
        <label style="cursor: pointer; border-bottom: 1px solid rgb(120, 224, 231);">Minha mente saudável V 2.3.1</label> 
    </a>
</nav>