<%- include('partials/header') %>
  <link rel="stylesheet" href="css/admin.css">
  <style>

  </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="../../img/logo.png" style="width: 55px; height: 55px; margin-left: 10px;" alt="">
      <label style="cursor: pointer; border-bottom: 1px solid rgb(120, 224, 231)">Minha Mente Saudável</label>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav bg-d align-items-center" style="padding:0 25px;">
        <li class="nav-item active">
          <a class="nav-link btn btn-dark btn-sm" href="/chamada-video" style="font-weight: 600; color: aliceblue; margin-left: 20px;">Consulta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-sm" href="/chat" style="font-weight: 600; color: aliceblue; margin-left: 20px">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-sm" href="/agendamento" style="font-weight: 600; color: aliceblue; margin-left: 20px">Agendamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-sm" href="/perfil/<%= id %>" style="font-weight: 600; color: aliceblue; margin-left: 20px">Perfil</a>
        </li>
        <li class="nav-item">
          <!-- link modal -->
          <a id="sugestaoModal" class="nav-link btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#sugestoes" tabindex="-1" aria-disabled="false" style="font-weight: 600; color: aliceblue; margin-left: 20px">Sugestões</a>
        </li>
        <li class="nav-item">
          <button data-bs-toggle="modal" data-bs-target="#excluir" tabindex="-1" aria-disabled="false" style="font-weight: 600; color: aliceblue; margin-left: 20px" class="nav-link btn btn-dark btn-sm">Excluir_Conta</button>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-sm" href="/logout" tabindex="-1" aria-disabled="false" style="font-weight: 600; color: aliceblue; margin-left: 20px">Sair</a>
        </li>


        <li class="nav-item">

        </li>
      </ul>

      <div class="text-white" style="width: 52%; display: flex; justify-content: flex-end; align-items: center;">
        <i style="color: #fff;" class="bi bi-person-check fs-4"></i>
        <label style="border-bottom: 1px solid rgb(120, 224, 231); margin-left: 7px;" for="">Olá, <%= nome %></label>
      </div>
    </div>
  </nav>

  <body>
    <br>
    <section>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/img/saude.webp" height="100%" width="100%" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(236, 236, 240); font-weight: 600;">Card title</h5>
              <p class="card-text" style="color: rgb(236, 236, 240); font-weight: 600;">This is a wider card with
                supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <p class="card-text" style="color: rgb(236, 236, 240); font-weight: 600;"><small class="text-muted">Last
                  updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/img/img02.jpg" height="100%" width="100%" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(236, 236, 240); font-weight: 600;">Card title</h5>
              <p class="card-text" style="color: rgb(236, 236, 240); font-weight: 600;">This is a wider card with
                supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <p class="card-text" style="color: rgb(236, 236, 240); font-weight: 600;"><small class="text-muted">Last
                  updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/img/img03.jpg" height="100%" width="100%" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(236, 236, 240); font-weight: 600;">Card title</h5>
              <p class="card-text" style="color: rgb(236, 236, 240); font-weight: 600;">This is a wider card with
                supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <p class="card-text" style="color: rgb(236, 236, 240); font-weight: 600;"><small class="text-muted">Last
                  updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>

    <!-- Modal Sugestoes do usuario-->
    <div>
      <div class="modal fade" id="sugestoes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel ">Deixe suas sugestões ou elogios</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/admin" method="post">
                <div class="row">
                  <div class="col-md-8">
                    <label id="info" for=" descricao"> <b>Descrição da Sugestão: </label><br>
                    <input id="iputdescricao" name="descricao" type="text" maxlength="40"><br><br>
                    <label for="mensagem" id="info">Digite sua sugestão Aqui:</label>
                    <textarea onkeyup="contador_caracteres(this.value)" style="resize: none" maxlength="250" class="textarea" name="Sugestao" id="mensagem" style="height: 100px;" class="modal-input form-control" type="text"></textarea>
                    <div id="info" style="margin-left: 410px;">
                      <span id="contador">250</span> Caracteres restantes
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" type="button" class="btn btn-success btn-modal enviar" data-bs-dismiss="modal">Enviar</button>
                    <a href="/admin">
                      <button type="button" class="btn btn-modal voltar">Voltar</button></a>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal EXCLUIR CONTA-->
    <div>
      <div class="modal fade" id="excluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel ">VOCE DESEJA EXCLUIR SUA CONTA?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8">
                </div>
                <div class="modal-footer">
                  <a href="/admin">
                    <button type="button" class="btn btn-primary btn-modal">VOLTAR</button></a>
                  <form action="/deleteuserself" method="post" onsubmit="confirmDel(event, this)">
                    <input type="hidden" name="id" value="<%= id %>">
                    <button class="btn btn-danger btn-modal" data-bs-dismiss="modal">Excluir Conta</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">

        function contador_caracteres(valor) {
          const caracter = 250
          const total = valor.length
          if (total <= caracter) {
            const restante = caracter - total;
            document.getElementById('contador').innerHTML = restante;
          } else {
            document.getElementById('mensagem').value = valor.substr(0, caracter);
          }

        };
      </script>
  </body>

  </html>



  <!-- 
<i class="bi bi-x-circle-fill"></i>
-->