<%- include('partials/header') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <nav style="height: 130px;" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/logout">
            <img src="../../img/logo.png" style="width: 55px; height: 55px; margin-left: 10px;" alt="">
            <label style="cursor: pointer; border-bottom: 1px solid rgb(120, 224, 231);">Minha mente saudável V.
                2.3.1</label>
        </a>
    </nav>
    <link rel="stylesheet" href="css/login.css">

    <body>
        <div class="container div-father">
            <div class=" container col-8">
                <hr>
                <div class="info-idoso">
                    <img src="/img/idoso.webp" width="50%" height="50%" alt="idoso">
                    <a style="text-decoration: none;" href="https://saude.abril.com.br/mente-saudavel/os-fatores-de-risco-e-sinais-para-evitar-o-suicidio-entre-idosos/">
                        <div class="info">
                            <label style="color: rgb(241, 89, 89); font-size: 15px; font-weight: 600;">Mente
                                Saudável</label>
                            <h3 style="color: rgb(88, 88, 88)">Os fatores de risco e sinais para evitar o suicídio
                                entre idosos</h3>
                            <p style="font-size: 13px; color:rgb(88, 88, 88) ;">Por Cristiane Santos, da Agência
                                Einstein* 16 set 2021, 12h11</p>
                        </div>
                    </a>
                </div>
                <hr>
                <div class="info-idoso">
                    <img src="/img/saude.webp" width="50.5%" height="55%" alt="saúde">
                    <a style="text-decoration: none;" href="https://saude.abril.com.br/blog/saude-e-pop/musica-faz-bem-a-saude-neurocientista-e-compositora-responde/">
                        <div class="info">
                            <label style="color: rgb(241, 89, 89); font-size: 15px; font-weight: 600;">Mente
                                Saudável</label>
                            <h3 style="color: rgb(88, 88, 88)">
                                Música faz bem à saúde? Neurocientista e compositora responde</h3>
                            <p style="font-size: 13px; color:rgb(88, 88, 88) ;">Por Saúde é pop | 9 set 2021, 17h29
                            </p>
                        </div>
                    </a>
                </div>
                <hr>
                <div class="info-idoso">
                    <img src="/img/rede.webp" width="50%" height="50%" alt="rede">
                    <a style="text-decoration: none;" href="https://saude.abril.com.br/mente-saudavel/desvalorizar-o-tempo-de-lazer-pode-fazer-mal-para-a-saude-mental/">
                        <div class="info">
                            <label style="color: rgb(241, 89, 89); font-size: 15px; font-weight: 600;">Mente
                                Saudável</label>
                            <h3 style="color: rgb(88, 88, 88)">Desvalorizar o tempo de lazer pode fazer mal para a
                                saúde mental</h3>
                            <p style="font-size: 13px; color:rgb(88, 88, 88) ;">Por Priscila Carvalho, da Agência
                                Einstein* 8 set 2021, 14h17 </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container col-6 login">
                <div class="card card-body area-login">
                    <div id="iner" class="texts">
                        <h1>Bem-vindo a <span class="nome-logo">Minha Mente Saudável</span></h1>
                        <p class="text-cinza">a maior riqueza é a sua saude</p>
                    </div>
                    <form method="POST" action="/authenticate">
                        <div class="lg">
                            <label for="login" class="text-input">Email</label>
                            <input name="lemail" id="login" class="form-control" placeholder="Digite seu E-mail" />
                        </div>

                        <div class="se">
                            <label for="senha" class="text-input">Senha</label>
                            <input name="lsenha" type="password" id="senha" class="form-control" placeholder="Digite sua de senha" />
                        </div>
                        <div class="box-senha">
                            <div class="b-senha">
                                <input id="Senha" type="checkbox" onclick="openSenha()">Mostrar senha
                            </div>
                            <a href="/novasenha" class="lostpassword">Esqueci minha senha</a>
                        </div>

                        <div class="buttons">
                            <div class="btn-logar">
                                <button type="submit" class="btn btn-primary btn-lg a-logar">Logar</button>
                            </div>
                            <div class="cadastre-se">
                                <a href="/cadastro" class="btn btn-primary btn-lg">Cadastrar</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>

        <!-- mostrar senha -->
        <script type="text/javascript" src="js/scriptLogin.js"> </script>


    </body>

    </html>